@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    font-family: outfit, sans-serif;
}

.font-playfair{
    font-family: 'Playfair' !important;
}
 
body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}